USE [master]
GO
/****** Object:  Database [DB2C2P]    Script Date: 7/6/2019 5:51:01 PM ******/
CREATE DATABASE [DB2C2P]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB2C2P', FILENAME = N'DB2C2P.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB2C2P_log', FILENAME = N'DB2C2P_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB2C2P].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB2C2P]
GO
USE [DB2C2P]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 7/6/2019 5:51:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/6/2019 5:51:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] NOT NULL,
	[CustomerName] [nvarchar](max) NULL,
	[ContactEmail] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 7/6/2019 5:51:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[TransactionId] [int] NOT NULL,
	[TransactionDateTime] [datetime2](7) NOT NULL,
	[Amount] [float] NOT NULL,
	[CurrencyCode] [nvarchar](3) NULL,
	[Status] [nvarchar](8) NULL,
	[CustomerId] [int] NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO

/****************** data *******************/
INSERT INTO [dbo].[Customer] ([CustomerId], [CustomerName], [ContactEmail], [MobileNo]) 
VALUES 
	(1, N'beer1', N'beer1@gmail.com', N'0811111111')
	(2, N'beer2', N'beer2@gmail.com', N'0812222222')
	
INSERT INTO [dbo].[Transaction] ([TransactionId], [TransactionDateTime], [Amount], [CurrencyCode], [Status], [CustomerId]) 
VALUES 
	(1, getdate(), 100, 'USD', 'Success', 1),
	(2, getdate(), 200, 'THB', 'Success', 1),
	(3, getdate(), 300, 'CNY', 'Canceled', 1),
	(4, getdate(), 400, 'CNY', 'Success', 1),
	(5, getdate(), 500, 'USD', 'Failed', 2),
	(6, getdate(), 600, 'CAD', 'Success', 2)

